[Unit]
Description=Katzenpost Mix Server
After=network.target

[Service]
Type=simple
User=katzenpost
WorkingDirectory=/var/lib/katzenpost
ExecStart=/usr/local/bin/katzenpost -f /etc/katzenpost/katzenpost.toml
PrivateTmp=yes
NoNewPrivileges=yes
# RestartSec=5
Restart=on-failure

[Install]
WantedBy=default.target
