[Proxy]
  #DataDir = "/home/user/.cliclient"
  NoLaunchListeners = true

[Logging]
  Disable = false
  Level = "DEBUG"

[NonvotingAuthority]
  [NonvotingAuthority.TestAuthority]
    Address = "37.218.242.147:29485"
    PublicKey = "39Xhom6bPvez2gECACuTxm/DaxLRTGCMP7/KA78+vNw="

[[Account]]
  User = "yourusername"
  Provider = "ramix"
  ProviderKeyPin = "1F3E677D5DAADBE1D5C86ACB08BF1E2D534F155E09DAE70656A7419841F47BD9"
  Authority = "TestAuthority"

#[[Account]]
#  User = "yourusername"
#  Provider = "idefix"
#  ProviderKeyPin = "3D9593D3B7D69CBB19AFC38689B365BCADF80ABFE6F7C4FE6B0859AEBE772092"
#  Authority = "TestAuthority"

[Recipients]
  "david@idefix" = "hxJJ/KAuQpktcVxO241HFPx8WOj1QnAGLpHld+zvDEQ="
  "masala@ramix" = "jnJIpfVNCXBMhQv/gKGYdWZenHqoroN0bExYaA8GKVg="
  "blackhole@idefix" = "UZ/VW8flXHMN8RGBrAVauTJNABfDFPv6egJ8v6YGu2A="
  "blackhole@ramix" = "gjqrL3UMKz6rWATCvJdnqiNmoy5LnJ7emjAjnFJCviM="
  # add more here ?
