[Proxy]
  DataDir = "/home/user/.cliclient"
  NoLaunchListeners = true

[Logging]
  Disable = false
  Level = "DEBUG"

[NonvotingAuthority]
  [NonvotingAuthority.TestAuthority]
    Address = "37.218.242.147:29485"
    PublicKey = "39Xhom6bPvez2gECACuTxm/DaxLRTGCMP7/KA78+vNw="

[[Account]]
  User = "david"
  Provider = "idefix"
  ProviderKeyPin = "3D9593D3B7D69CBB19AFC38689B365BCADF80ABFE6F7C4FE6B0859AEBE772092"
  Authority = "TestAuthority"

[Recipients]
  "masala@idefix" = "Ga9I+/1GpwcCj+TzkK+r2ZYpCkB2b8Y6me4Bfk4t6Fs="
  # add more here ?
